In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# import CSVs for analysis
feb_14_df = pd.read_csv("unzipped/2014-02 - Citi Bike trip data.csv")
aug_14_df = pd.read_csv("unzipped/2014-08 - Citi Bike trip data.csv")
feb_19_df = pd.read_csv("unzipped/201902-citibike-tripdata.csv")
aug_19_df = pd.read_csv("unzipped/201908-citibike-tripdata.csv")

In [3]:
feb_14_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224731,848,2014-02-28 23:57:13,2014-03-01 00:11:21,498,Broadway & W 32 St,40.748549,-73.988084,432,E 7 St & Avenue A,40.726218,-73.983799,17413,Subscriber,1976,1
224732,1355,2014-02-28 23:57:55,2014-03-01 00:20:30,470,W 20 St & 8 Ave,40.743453,-74.000040,302,Avenue D & E 3 St,40.720828,-73.977932,15608,Subscriber,1985,2
224733,304,2014-02-28 23:58:17,2014-03-01 00:03:21,497,E 17 St & Broadway,40.737050,-73.990093,334,W 20 St & 7 Ave,40.742388,-73.997262,17112,Subscriber,1968,1
224734,308,2014-02-28 23:59:10,2014-03-01 00:04:18,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,365,Fulton St & Grand Ave,40.682232,-73.961458,14761,Subscriber,1982,1
224735,603,2014-02-28 23:59:47,2014-03-01 00:09:50,252,MacDougal St & Washington Sq,40.732264,-73.998522,475,E 16 St & Irving Pl,40.735243,-73.987586,18783,Subscriber,1960,1

In [4]:
aug_14_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1142,2014-08-01 00:00:04,2014-08-01 00:19:06,470,W 20 St & 8 Ave,40.743453,-74.000040,312,Allen St & E Houston St,40.722055,-73.989111,19117,Subscriber,1969,1
1,117,2014-08-01 00:00:05,2014-08-01 00:02:02,236,St Marks Pl & 2 Ave,40.728419,-73.987140,432,E 7 St & Avenue A,40.726218,-73.983799,20549,Subscriber,1991,1
2,546,2014-08-01 00:00:07,2014-08-01 00:09:13,224,Spruce St & Nassau St,40.711464,-74.005524,340,Madison St & Clinton St,40.712690,-73.987763,15997,Subscriber,1984,1
3,2126,2014-08-01 00:00:11,2014-08-01 00:35:37,150,E 2 St & Avenue C,40.720874,-73.980858,522,E 51 St & Lexington Ave,40.757148,-73.972078,21437,Subscriber,1988,1
4,329,2014-08-01 00:00:15,2014-08-01 00:05:44,519,E 42 St & Vanderbilt Ave,40.752416,-73.978370,477,W 41 St & 8 Ave,40.756405,-73.990026,16693,Subscriber,1981,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963484,896,2014-08-31 23:59:06,2014-09-01 00:14:02,236,St Marks Pl & 2 Ave,40.728419,-73.987140,476,E 31 St & 3 Ave,40.743943,-73.979661,17670,Subscriber,1978,1
963485,560,2014-08-31 23:59:17,2014-09-01 00:08:37,297,E 15 St & 3 Ave,40.734232,-73.986923,300,Shevchenko Pl & E 7 St,40.728145,-73.990214,21268,Customer,\N,0
963486,1238,2014-08-31 23:59:21,2014-09-01 00:19:59,355,Bayard St & Baxter St,40.716021,-73.999744,296,Division St & Bowery,40.714131,-73.997047,18957,Subscriber,1975,1
963487,1244,2014-08-31 23:59:38,2014-09-01 00:20:22,355,Bayard St & Baxter St,40.716021,-73.999744,296,Division St & Bowery,40.714131,-73.997047,18937,Customer,\N,0
963488,471,2014-08-31 23:59:47,2014-09-01 00:07:38,498,Broadway & W 32 St,40.748549,-73.988084,160,E 37 St & Lexington Ave,40.748238,-73.978311,19110,Subscriber,1977,1

In [5]:
feb_19_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943739,979,2019-02-28 23:59:43.3860,2019-03-01 00:16:02.7620,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,3656.0,E 2 St & Avenue A,40.723077,-73.985836,33630,Subscriber,1992,1
943740,779,2019-02-28 23:59:48.2220,2019-03-01 00:12:47.5150,229.0,Great Jones St,40.727434,-73.993790,519.0,Pershing Square North,40.751873,-73.977706,30765,Subscriber,1995,1
943741,699,2019-02-28 23:59:48.6480,2019-03-01 00:11:28.5880,494.0,W 26 St & 8 Ave,40.747348,-73.997236,487.0,E 20 St & FDR Drive,40.733143,-73.975739,19721,Subscriber,1996,1
943742,284,2019-02-28 23:59:59.2640,2019-03-01 00:04:43.6880,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,3255.0,8 Ave & W 31 St,40.750585,-73.994685,27804,Subscriber,1985,1
943743,279,2019-02-28 23:59:55.0050,2019-03-01 00:04:34.9450,362.0,Broadway & W 37 St,40.751726,-73.987535,490.0,8 Ave & W 33 St,40.751551,-73.993934,21507,Subscriber,1969,1

In [6]:
aug_19_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2344219,216,2019-08-31 23:59:46.2930,2019-09-01 00:03:23.0360,116.0,W 17 St & 8 Ave,40.741776,-74.001497,509.0,9 Ave & W 22 St,40.745497,-74.001971,38655,Subscriber,1972,1
2344220,117,2019-08-31 23:59:47.7970,2019-09-01 00:01:45.7440,3429.0,Hanson Pl & Ashland Pl,40.685068,-73.977908,353.0,S Portland Ave & Hanson Pl,40.685396,-73.974315,25264,Subscriber,1982,2
2344221,1614,2019-08-31 23:59:48.1560,2019-09-01 00:26:42.7760,387.0,Centre St & Chambers St,40.712733,-74.004607,3440.0,Fulton St & Adams St,40.692418,-73.989495,28485,Customer,1969,0
2344222,1301,2019-08-31 23:59:58.3620,2019-09-01 00:21:39.7040,3168.0,Central Park West & W 85 St,40.784727,-73.969617,423.0,W 54 St & 9 Ave,40.765849,-73.986905,38664,Customer,1969,0
2344223,419,2019-08-31 23:59:59.4520,2019-09-01 00:06:59.0210,447.0,8 Ave & W 52 St,40.763707,-73.985162,529.0,W 42 St & 8 Ave,40.757570,-73.990985,35210,Subscriber,1994,1

In [7]:
feb_14_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [8]:
aug_14_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                  object
gender                       int64
dtype: object

In [9]:
feb_19_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [10]:
aug_19_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [11]:
def week_data(dataframe):
    # drop na values from the DataFrame
    df_clean = dataframe.dropna()
    
    # extract the year and month from the starttime
    first_row = pd.Series(df_clean["starttime"][0])
    year_month = first_row.str.split("-",n=2).str[0] + "-" + first_row.str.split("-",n=2).str[1]
    
    # change starttime and stoptime series to date-time format
    df_clean["starttime"] = df_clean["starttime"].astype('datetime64[ns]')
    df_clean["stoptime"] = df_clean["stoptime"].astype('datetime64[ns]')
    
    # set "start date" as 7th day of the month
    start_date = dt.datetime.strptime(f"{year_month[0]}-07", "%Y-%m-%d")

    # set "end date" as 14th day of the month
    end_date = dt.datetime.strptime(f"{year_month[0]}-14", "%Y-%m-%d")
    
    # filter by date range
    after_start_date = df_clean["starttime"] >= start_date
    before_end_date = df_clean["starttime"] <= end_date
    between_two_dates = after_start_date & before_end_date
    
    # loc method to return a filtered DataFrame
    filtered_dates = df_clean.loc[between_two_dates]    
    filtered_dates["gender"] = filtered_dates["gender"].replace([0,1,2],["Unknown","Male","Female"])
    
    # return filtered DataFrame
    return filtered_dates

In [12]:
feb_14_week = week_data(feb_14_df)
feb_14_week

C:\Users\WelanR_01\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
47838,483,2014-02-07 00:02:56,2014-02-07 00:10:59,312,Allen St & E Houston St,40.722055,-73.989111,412,Forsyth St & Canal St,40.715816,-73.994224,18923,Subscriber,1977,Male
47839,803,2014-02-07 00:03:18,2014-02-07 00:16:41,385,E 55 St & 2 Ave,40.757973,-73.966033,499,Broadway & W 60 St,40.769155,-73.981918,21122,Subscriber,1979,Male
47840,528,2014-02-07 00:03:27,2014-02-07 00:12:15,153,E 40 St & 5 Ave,40.752062,-73.981632,476,E 31 St & 3 Ave,40.743943,-73.979661,20771,Subscriber,1972,Male
47841,475,2014-02-07 00:03:47,2014-02-07 00:11:42,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,344,Monroe St & Bedford Ave,40.685144,-73.953809,19269,Subscriber,1985,Male
47842,1176,2014-02-07 00:05:59,2014-02-07 00:25:35,403,E 2 St & 2 Ave,40.725029,-73.990697,505,6 Ave & W 33 St,40.749013,-73.988484,19224,Subscriber,1986,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91955,238,2014-02-13 23:49:54,2014-02-13 23:53:52,545,E 23 St & 1 Ave,40.736502,-73.978095,536,1 Ave & E 30 St,40.741444,-73.975361,15463,Subscriber,1982,Male
91956,382,2014-02-13 23:49:57,2014-02-13 23:56:19,401,Allen St & Rivington St,40.720196,-73.989978,445,E 10 St & Avenue A,40.727408,-73.981420,16787,Subscriber,1972,Male
91957,444,2014-02-13 23:50:00,2014-02-13 23:57:24,477,W 41 St & 8 Ave,40.756405,-73.990026,468,Broadway & W 55 St,40.765265,-73.981923,16666,Subscriber,1979,Male
91958,1434,2014-02-13 23:52:18,2014-02-14 00:16:12,328,Watts St & Greenwich St,40.724055,-74.009660,325,E 19 St & 3 Ave,40.736245,-73.984738,17000,Subscriber,1977,Male
91959,693,2014-02-13 23:52:49,2014-02-14 00:04:22,293,Lafayette St & E 8 St,40.730287,-73.990765,463,9 Ave & W 16 St,40.742065,-74.004432,17994,Subscriber,1967,Male

In [13]:
aug_14_week = week_data(aug_14_df)
aug_14_week

C:\Users\WelanR_01\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
189264,341,2014-08-07 00:00:05,2014-08-07 00:05:46,383,Greenwich Ave & Charles St,40.735238,-74.000271,326,E 11 St & 1 Ave,40.729538,-73.984267,19244,Subscriber,1990,Male
189265,788,2014-08-07 00:00:11,2014-08-07 00:13:19,454,E 51 St & 1 Ave,40.754557,-73.965930,237,E 11 St & 2 Ave,40.730473,-73.986724,17509,Subscriber,1980,Male
189266,640,2014-08-07 00:00:14,2014-08-07 00:10:54,223,W 13 St & 7 Ave,40.737815,-73.999947,300,Shevchenko Pl & E 7 St,40.728145,-73.990214,19188,Subscriber,1981,Female
189267,1633,2014-08-07 00:00:16,2014-08-07 00:27:29,447,8 Ave & W 52 St,40.763707,-73.985162,168,W 18 St & 6 Ave,40.739713,-73.994564,18279,Customer,\N,Unknown
189268,304,2014-08-07 00:00:22,2014-08-07 00:05:26,507,E 25 St & 2 Ave,40.739126,-73.979738,326,E 11 St & 1 Ave,40.729538,-73.984267,21279,Subscriber,1987,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405981,406,2014-08-13 23:59:35,2014-08-14 00:06:21,317,E 6 St & Avenue B,40.724537,-73.981854,403,E 2 St & 2 Ave,40.725029,-73.990697,15584,Subscriber,1991,Male
405982,88,2014-08-13 23:59:41,2014-08-14 00:01:09,446,W 24 St & 7 Ave,40.744876,-73.995299,446,W 24 St & 7 Ave,40.744876,-73.995299,19840,Subscriber,1994,Female
405983,331,2014-08-13 23:59:42,2014-08-14 00:05:13,380,W 4 St & 7 Ave S,40.734011,-74.002939,128,MacDougal St & Prince St,40.727103,-74.002971,16046,Subscriber,1984,Female
405984,1191,2014-08-13 23:59:44,2014-08-14 00:19:35,400,Pitt St & Stanton St,40.719261,-73.981780,225,W 14 St & The High Line,40.741951,-74.008030,19081,Customer,\N,Unknown
405985,364,2014-08-13 23:59:45,2014-08-14 00:05:49,311,Norfolk St & Broome St,40.717227,-73.988021,445,E 10 St & Avenue A,40.727408,-73.981420,19514,Subscriber,1983,Male

In [14]:
feb_19_week = week_data(feb_19_df)
feb_19_week

C:\Users\WelanR_01\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\WelanR_01\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\WelanR_01\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
218665,921,2019-02-07 00:00:23.487,2019-02-07 00:15:45.393,474.0,5 Ave & E 29 St,40.745168,-73.986831,394.0,E 9 St & Avenue C,40.725213,-73.977688,28393,Subscriber,1981,Female
218666,214,2019-02-07 00:01:21.014,2019-02-07 00:04:55.644,353.0,S Portland Ave & Hanson Pl,40.685396,-73.974315,3415.0,Prospect Pl & 6 Ave,40.679331,-73.975195,15321,Subscriber,1988,Male
218667,246,2019-02-07 00:01:47.063,2019-02-07 00:05:53.064,3057.0,Kosciuszko St & Tompkins Ave,40.691283,-73.945242,3062.0,Myrtle Ave & Marcy Ave,40.695398,-73.949549,31139,Subscriber,1990,Female
218668,470,2019-02-07 00:03:12.852,2019-02-07 00:11:03.057,249.0,Harrison St & Hudson St,40.718710,-74.009001,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,34313,Subscriber,1963,Male
218669,422,2019-02-07 00:04:17.705,2019-02-07 00:11:19.835,517.0,Pershing Square South,40.751581,-73.977910,492.0,W 33 St & 7 Ave,40.750200,-73.990931,35554,Subscriber,1979,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435623,184,2019-02-13 23:58:47.838,2019-02-14 00:01:52.092,3314.0,W 95 St & Broadway,40.793770,-73.971888,3295.0,Central Park W & W 96 St,40.791270,-73.964839,33228,Subscriber,1973,Male
435624,619,2019-02-13 23:58:58.708,2019-02-14 00:09:18.116,173.0,Broadway & W 49 St,40.760683,-73.984527,385.0,E 55 St & 2 Ave,40.757973,-73.966033,18345,Subscriber,1982,Female
435625,2158,2019-02-13 23:59:25.813,2019-02-14 00:35:24.652,490.0,8 Ave & W 33 St,40.751551,-73.993934,432.0,E 7 St & Avenue A,40.726218,-73.983799,34651,Subscriber,1976,Male
435626,338,2019-02-13 23:59:32.466,2019-02-14 00:05:11.075,254.0,W 11 St & 6 Ave,40.735324,-73.998004,3641.0,Broadway & W 25 St,40.742869,-73.989186,27067,Subscriber,1970,Male
435627,253,2019-02-13 23:59:38.715,2019-02-14 00:03:52.597,3053.0,Marcy Ave & Lafayette Ave,40.690081,-73.947915,3046.0,Marcus Garvey Blvd & Macon St,40.682601,-73.938037,35781,Subscriber,1989,Male

In [15]:
aug_19_week = week_data(aug_19_df)
aug_19_week

C:\Users\WelanR_01\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\WelanR_01\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\WelanR_01\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
479027,2088,2019-08-07 00:00:02.028,2019-08-07 00:34:50.432,460.0,S 4 St & Wythe Ave,40.712859,-73.965903,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,17643,Customer,1998,Female
479028,914,2019-08-07 00:00:12.724,2019-08-07 00:15:27.411,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,3002.0,South End Ave & Liberty St,40.711512,-74.015756,33371,Subscriber,1984,Male
479029,546,2019-08-07 00:00:16.688,2019-08-07 00:09:22.732,3576.0,Park Pl & Vanderbilt Ave,40.676700,-73.969024,3599.0,Franklin Ave & Empire Blvd,40.663140,-73.960569,38933,Subscriber,1992,Male
479030,1188,2019-08-07 00:00:18.737,2019-08-07 00:20:07.156,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3773.0,Knickerbocker Ave & Thames St,40.705390,-73.929760,30664,Customer,1969,Unknown
479031,805,2019-08-07 00:00:19.509,2019-08-07 00:13:45.195,3463.0,E 16 St & Irving Pl,40.735367,-73.987974,317.0,E 6 St & Avenue B,40.724537,-73.981854,39908,Subscriber,1955,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003637,1689,2019-08-13 23:59:30.086,2019-08-14 00:27:39.654,426.0,West St & Chambers St,40.717548,-74.013221,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,33565,Subscriber,1974,Male
1003638,22069,2019-08-13 23:59:41.556,2019-08-14 06:07:30.906,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,351.0,Front St & Maiden Ln,40.705310,-74.006126,20806,Customer,1979,Male
1003639,593,2019-08-13 23:59:49.855,2019-08-14 00:09:42.905,401.0,Allen St & Rivington St,40.720196,-73.989978,403.0,E 2 St & 2 Ave,40.725029,-73.990697,16553,Subscriber,1996,Female
1003640,1864,2019-08-13 23:59:51.792,2019-08-14 00:30:55.923,244.0,Willoughby Ave & Hall St,40.691960,-73.965369,3310.0,14 St & 7 Ave,40.663779,-73.983968,32028,Customer,1983,Female
1003641,1679,2019-08-13 23:59:54.462,2019-08-14 00:27:54.071,3078.0,Broadway & Roebling St,40.709248,-73.960631,3078.0,Broadway & Roebling St,40.709248,-73.960631,33341,Subscriber,1992,Male

In [16]:
weeks_df = [feb_14_week, aug_14_week, feb_19_week, aug_19_week]

In [17]:
# Combine all four DataFrames into one using .concat() method
combined_df = pd.concat(weeks_df)
combined_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
47838,483,2014-02-07 00:02:56.000,2014-02-07 00:10:59.000,312.0,Allen St & E Houston St,40.722055,-73.989111,412.0,Forsyth St & Canal St,40.715816,-73.994224,18923,Subscriber,1977,Male
47839,803,2014-02-07 00:03:18.000,2014-02-07 00:16:41.000,385.0,E 55 St & 2 Ave,40.757973,-73.966033,499.0,Broadway & W 60 St,40.769155,-73.981918,21122,Subscriber,1979,Male
47840,528,2014-02-07 00:03:27.000,2014-02-07 00:12:15.000,153.0,E 40 St & 5 Ave,40.752062,-73.981632,476.0,E 31 St & 3 Ave,40.743943,-73.979661,20771,Subscriber,1972,Male
47841,475,2014-02-07 00:03:47.000,2014-02-07 00:11:42.000,420.0,Clermont Ave & Lafayette Ave,40.687645,-73.969689,344.0,Monroe St & Bedford Ave,40.685144,-73.953809,19269,Subscriber,1985,Male
47842,1176,2014-02-07 00:05:59.000,2014-02-07 00:25:35.000,403.0,E 2 St & 2 Ave,40.725029,-73.990697,505.0,6 Ave & W 33 St,40.749013,-73.988484,19224,Subscriber,1986,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003637,1689,2019-08-13 23:59:30.086,2019-08-14 00:27:39.654,426.0,West St & Chambers St,40.717548,-74.013221,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,33565,Subscriber,1974,Male
1003638,22069,2019-08-13 23:59:41.556,2019-08-14 06:07:30.906,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,351.0,Front St & Maiden Ln,40.705310,-74.006126,20806,Customer,1979,Male
1003639,593,2019-08-13 23:59:49.855,2019-08-14 00:09:42.905,401.0,Allen St & Rivington St,40.720196,-73.989978,403.0,E 2 St & 2 Ave,40.725029,-73.990697,16553,Subscriber,1996,Female
1003640,1864,2019-08-13 23:59:51.792,2019-08-14 00:30:55.923,244.0,Willoughby Ave & Hall St,40.691960,-73.965369,3310.0,14 St & 7 Ave,40.663779,-73.983968,32028,Customer,1983,Female
1003641,1679,2019-08-13 23:59:54.462,2019-08-14 00:27:54.071,3078.0,Broadway & Roebling St,40.709248,-73.960631,3078.0,Broadway & Roebling St,40.709248,-73.960631,33341,Subscriber,1992,Male

In [18]:
# reset the index
combined_df.reset_index(drop=True, inplace=True)

In [19]:
# duplicate each row
dup_df = combined_df.reindex(combined_df.index.repeat(2)).reset_index(drop=True)
dup_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,483,2014-02-07 00:02:56.000,2014-02-07 00:10:59.000,312.0,Allen St & E Houston St,40.722055,-73.989111,412.0,Forsyth St & Canal St,40.715816,-73.994224,18923,Subscriber,1977,Male
1,483,2014-02-07 00:02:56.000,2014-02-07 00:10:59.000,312.0,Allen St & E Houston St,40.722055,-73.989111,412.0,Forsyth St & Canal St,40.715816,-73.994224,18923,Subscriber,1977,Male
2,803,2014-02-07 00:03:18.000,2014-02-07 00:16:41.000,385.0,E 55 St & 2 Ave,40.757973,-73.966033,499.0,Broadway & W 60 St,40.769155,-73.981918,21122,Subscriber,1979,Male
3,803,2014-02-07 00:03:18.000,2014-02-07 00:16:41.000,385.0,E 55 St & 2 Ave,40.757973,-73.966033,499.0,Broadway & W 60 St,40.769155,-73.981918,21122,Subscriber,1979,Male
4,528,2014-02-07 00:03:27.000,2014-02-07 00:12:15.000,153.0,E 40 St & 5 Ave,40.752062,-73.981632,476.0,E 31 St & 3 Ave,40.743943,-73.979661,20771,Subscriber,1972,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004823,593,2019-08-13 23:59:49.855,2019-08-14 00:09:42.905,401.0,Allen St & Rivington St,40.720196,-73.989978,403.0,E 2 St & 2 Ave,40.725029,-73.990697,16553,Subscriber,1996,Female
2004824,1864,2019-08-13 23:59:51.792,2019-08-14 00:30:55.923,244.0,Willoughby Ave & Hall St,40.691960,-73.965369,3310.0,14 St & 7 Ave,40.663779,-73.983968,32028,Customer,1983,Female
2004825,1864,2019-08-13 23:59:51.792,2019-08-14 00:30:55.923,244.0,Willoughby Ave & Hall St,40.691960,-73.965369,3310.0,14 St & 7 Ave,40.663779,-73.983968,32028,Customer,1983,Female
2004826,1679,2019-08-13 23:59:54.462,2019-08-14 00:27:54.071,3078.0,Broadway & Roebling St,40.709248,-73.960631,3078.0,Broadway & Roebling St,40.709248,-73.960631,33341,Subscriber,1992,Male
2004827,1679,2019-08-13 23:59:54.462,2019-08-14 00:27:54.071,3078.0,Broadway & Roebling St,40.709248,-73.960631,3078.0,Broadway & Roebling St,40.709248,-73.960631,33341,Subscriber,1992,Male

In [20]:
# get duplicated rows for loc searching
dups = dup_df.duplicated()
dups

0          False
1           True
2          False
3           True
4          False
           ...
2004823     True
2004824    False
2004825     True
2004826    False
2004827     True
Length: 2004828, dtype: bool

In [21]:
# fill all latitude and longitude rows with start lat,lons
dup_df["latitude"] = dup_df["start station latitude"]
dup_df["longitude"] = dup_df["start station longitude"]

In [22]:
# fill all duplicated rows with end lat,lons
dup_df.loc[dups,"latitude"] = dup_df["end station latitude"]
dup_df.loc[dups,"longitude"] = dup_df["end station longitude"]

In [23]:
# add new series called "location_name" and 
# fill with start station and end station, 
# to be used as an "ID" column to link 
# pairs of rows and their start and end latitude/longitude
dup_df["location_name"] = dup_df["start station name"] + "_" + dup_df["end station name"]
dup_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,latitude,longitude,location_name
0,483,2014-02-07 00:02:56.000,2014-02-07 00:10:59.000,312.0,Allen St & E Houston St,40.722055,-73.989111,412.0,Forsyth St & Canal St,40.715816,-73.994224,18923,Subscriber,1977,Male,40.722055,-73.989111,Allen St & E Houston St_Forsyth St & Canal St
1,483,2014-02-07 00:02:56.000,2014-02-07 00:10:59.000,312.0,Allen St & E Houston St,40.722055,-73.989111,412.0,Forsyth St & Canal St,40.715816,-73.994224,18923,Subscriber,1977,Male,40.715816,-73.994224,Allen St & E Houston St_Forsyth St & Canal St
2,803,2014-02-07 00:03:18.000,2014-02-07 00:16:41.000,385.0,E 55 St & 2 Ave,40.757973,-73.966033,499.0,Broadway & W 60 St,40.769155,-73.981918,21122,Subscriber,1979,Male,40.757973,-73.966033,E 55 St & 2 Ave_Broadway & W 60 St
3,803,2014-02-07 00:03:18.000,2014-02-07 00:16:41.000,385.0,E 55 St & 2 Ave,40.757973,-73.966033,499.0,Broadway & W 60 St,40.769155,-73.981918,21122,Subscriber,1979,Male,40.769155,-73.981918,E 55 St & 2 Ave_Broadway & W 60 St
4,528,2014-02-07 00:03:27.000,2014-02-07 00:12:15.000,153.0,E 40 St & 5 Ave,40.752062,-73.981632,476.0,E 31 St & 3 Ave,40.743943,-73.979661,20771,Subscriber,1972,Male,40.752062,-73.981632,E 40 St & 5 Ave_E 31 St & 3 Ave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004823,593,2019-08-13 23:59:49.855,2019-08-14 00:09:42.905,401.0,Allen St & Rivington St,40.720196,-73.989978,403.0,E 2 St & 2 Ave,40.725029,-73.990697,16553,Subscriber,1996,Female,40.725029,-73.990697,Allen St & Rivington St_E 2 St & 2 Ave
2004824,1864,2019-08-13 23:59:51.792,2019-08-14 00:30:55.923,244.0,Willoughby Ave & Hall St,40.691960,-73.965369,3310.0,14 St & 7 Ave,40.663779,-73.983968,32028,Customer,1983,Female,40.691960,-73.965369,Willoughby Ave & Hall St_14 St & 7 Ave
2004825,1864,2019-08-13 23:59:51.792,2019-08-14 00:30:55.923,244.0,Willoughby Ave & Hall St,40.691960,-73.965369,3310.0,14 St & 7 Ave,40.663779,-73.983968,32028,Customer,1983,Female,40.663779,-73.983968,Willoughby Ave & Hall St_14 St & 7 Ave
2004826,1679,2019-08-13 23:59:54.462,2019-08-14 00:27:54.071,3078.0,Broadway & Roebling St,40.709248,-73.960631,3078.0,Broadway & Roebling St,40.709248,-73.960631,33341,Subscriber,1992,Male,40.709248,-73.960631,Broadway & Roebling St_Broadway & Roebling St
2004827,1679,2019-08-13 23:59:54.462,2019-08-14 00:27:54.071,3078.0,Broadway & Roebling St,40.709248,-73.960631,3078.0,Broadway & Roebling St,40.709248,-73.960631,33341,Subscriber,1992,Male,40.709248,-73.960631,Broadway & Roebling St_Broadway & Roebling St

In [24]:
# series/columns where duplicated data is unnecessary
wipe_data = ['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'usertype',
       'birth year', 'gender']

In [25]:
# remove duplicated data from duplicated rows to avoid double counting
dup_df.loc[dups, wipe_data] = None

In [26]:
dup_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,latitude,longitude,location_name
0,483.0,2014-02-07 00:02:56.000,2014-02-07 00:10:59.000,312.0,Allen St & E Houston St,40.722055,-73.989111,412.0,Forsyth St & Canal St,40.715816,-73.994224,18923,Subscriber,1977,Male,40.722055,-73.989111,Allen St & E Houston St_Forsyth St & Canal St
1,NaN,NaT,NaT,NaN,None,NaN,NaN,NaN,None,NaN,NaN,18923,None,None,None,40.715816,-73.994224,Allen St & E Houston St_Forsyth St & Canal St
2,803.0,2014-02-07 00:03:18.000,2014-02-07 00:16:41.000,385.0,E 55 St & 2 Ave,40.757973,-73.966033,499.0,Broadway & W 60 St,40.769155,-73.981918,21122,Subscriber,1979,Male,40.757973,-73.966033,E 55 St & 2 Ave_Broadway & W 60 St
3,NaN,NaT,NaT,NaN,None,NaN,NaN,NaN,None,NaN,NaN,21122,None,None,None,40.769155,-73.981918,E 55 St & 2 Ave_Broadway & W 60 St
4,528.0,2014-02-07 00:03:27.000,2014-02-07 00:12:15.000,153.0,E 40 St & 5 Ave,40.752062,-73.981632,476.0,E 31 St & 3 Ave,40.743943,-73.979661,20771,Subscriber,1972,Male,40.752062,-73.981632,E 40 St & 5 Ave_E 31 St & 3 Ave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004823,NaN,NaT,NaT,NaN,None,NaN,NaN,NaN,None,NaN,NaN,16553,None,None,None,40.725029,-73.990697,Allen St & Rivington St_E 2 St & 2 Ave
2004824,1864.0,2019-08-13 23:59:51.792,2019-08-14 00:30:55.923,244.0,Willoughby Ave & Hall St,40.691960,-73.965369,3310.0,14 St & 7 Ave,40.663779,-73.983968,32028,Customer,1983,Female,40.691960,-73.965369,Willoughby Ave & Hall St_14 St & 7 Ave
2004825,NaN,NaT,NaT,NaN,None,NaN,NaN,NaN,None,NaN,NaN,32028,None,None,None,40.663779,-73.983968,Willoughby Ave & Hall St_14 St & 7 Ave
2004826,1679.0,2019-08-13 23:59:54.462,2019-08-14 00:27:54.071,3078.0,Broadway & Roebling St,40.709248,-73.960631,3078.0,Broadway & Roebling St,40.709248,-73.960631,33341,Subscriber,1992,Male,40.709248,-73.960631,Broadway & Roebling St_Broadway & Roebling St
2004827,NaN,NaT,NaT,NaN,None,NaN,NaN,NaN,None,NaN,NaN,33341,None,None,None,40.709248,-73.960631,Broadway & Roebling St_Broadway & Roebling St

In [27]:
dup_df.to_csv('citi_bike_feb_14_aug_19.csv', index=False)

In [28]:
combined_df.to_csv('citi_bike_feb_14_aug_19_no_dup.csv', index=False)